<!DOCTYPE html>
<html lang="tr">
<head>
    <link rel="stylesheet" type="text/css" href="/static/content/deneme.css" />
</head>

<div class="wrapper">
    <div class="container">
        <h1>Hoşgeldiniz</h1>

        <form method="post">
            <label for="l">Name:</label>
            <input name="name" />
            <label for="l">Password:</label>
            <input type="password" name="password" />
            <button type="submit" id="login">Kayıt Ol</button>
        </form>
    </div>
</div>
</html>

<!-- Kayıt Olma Sayfası  -->